body {
	font-family: Arial, Helvetica, sans-serif;
}

a.button{
	background-color: #008cff;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid grey;
    text-decoration: none;
}

table{
	border: 2px solid grey;
	font-size: 20px;
	font-weight: normal;
}

td, th{
	border: 1px solid black;	
}

.actions {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

/*Create style*/
body.create{
	width: 50%;
	margin: 0 auto;
	background-color: aliceblue;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.terug {
	background-color: #008cff;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
}



input.submit {
	background-color: #008cff;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
}

button {
    text-decoration: none;
}


